# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw data
data/*.csv

# macOS
.DS_Store

# PyCharm
.idea/

# Environment variables / secrets
.env
